body {
	width: 100%;
	height: 100%;
	margin: 0px;
}

.headerColour {
	background-color: #4AA9C5; /*header colour*/
	color: #F9F4BA;
}

.headerFontColour {
	color: #F9F4BA;
}
.navbarFontColour {
	color: #AB2A51;
}
.backgroundColour {
	background-color: #6586AB; /*background-colour*/
}
.navbarColour {
	background-color: #AB2A51; /*nav bar colour*/
	color: #EFF9AE;
}
.footerColour {
	background-color: #AB2A51; /*footer colour*/
}
.contentColour {
	background-color: #6C9DAB; /*content colour*/
}

.wrapper {
    width: 100%;
	/*background-color: #28798D; /*background-colour*/
}
/*
#logo {
	font-family: helvetica;
	font-size: 150px;
	font-weight: 900;
	vertical-align: bottom;
	padding: 139px 10px;
	
	
}
*/
#logo {
	height: 138px;
	width: 977px;
	background-image:url('Resources/Images/logo.png');
	position:absolute;
	bottom:-30px;
	left:0;
	pointer-events: none;
}

#hoverEffectContainer {
	width: inherit;
	height: inherit;
	overflow: hidden;
	position:absolute;
}

#hover_canvas {
	position:absolute;
}
/*
#mouse_hex {
	
	pointer-events: none;
	height:252px;
	width:252px;
	margin-left: 0px;
	margin-top: 0px;
	/*background-image:url('Resources/Images/mouse_hover_hex.png');*/
	/*mask-image: url('Resources/Images/mouse_hover_hex.png') ;*/
	/*mask-image: linear-gradient(black 0%, transparent 100%);*/
	/*visibility:hidden;*/

	/*}*/

/*header area up top*/
#header {
    /*height: 150px;*/
    min-width: 768px;
    max-width:100%;
    /*padding: 20px 0px;*/
	margin: 0px 0px;
	/*background: none repeat scroll 0% 0% #333;*/
    /*background: none repeat scroll 0% 0% #D35803;*/
    /*background-color: #333;*/
}
#headerContainer {
	/*background-color: #D35803; /*header colour*/
    min-width: 768px;
    max-width: 100%;
    height: 300px;
    width: auto;
    /*border: 1px solid #333;*/
    border-radius: 0px;
    /*margin-left: 40px;*/
    margin: 0px auto;
    /*to be removed*/
    /*background-color: #D35803;*/
}
#headerContent {
    /*width: 90%;*/
    height: 100%;
    margin: 0px auto;
    /*border: 1px solid #fff;*/
    color: #000;
}
#logoArea {
	width: 100%;
	height: 255px;
	position: relative;
	background-image:url('Resources/Images/header_bg5.png');
	
}
.menubar {
	height: 45px;
	width: auto;
	/*background-color: #F3A214; /*nav bar colour*/
}
.main_navigation {
	/*margin: 20px auto;*/
	display: flex;
	padding: 0px 5%;
	height: 100%;
	/*background-color: #6c6c6c;*/
}
.main_nav_button {
	margin-right: 1px;
}

/*scroll button css*/

#Quick_Scroll_up {
	width: 50px;
	margin-left: auto;
	display: none;
	background-image:url('Resources/Images/Scroll_Arrow_50px.png');
	transform: rotate(180deg);
}

#Quick_Scroll_down {
	width: 50px;
	margin-left: 10px;
	display: none;
	background-image:url('Resources/Images/Scroll_Arrow_50px.png');
}

.dropDownMenu {
	/*border:1px solid #1c1c1c;*/
	    /*margin and padding stuff up drop down*/
	    /*margin-right: 1px;*/
	    padding: 0;
	    text-align: center;
		/*background-color: #F3A214;*/
		margin-right: 0px;
}
/*
.dropDownMenu:hover {
	background-color: #F3A214;
	background-color: #D35803;
	margin-right: 0px;
	
	
}
*/

.hoverableMenuOption {
	width: 150px;
	    list-style-type:none;
	    padding: 13px 0px 13px;
	    font-weight: 400;
		font-family: Helvetica, Serif;
		height: 19px;
		
}


.navList {
    margin-left: 0px;
	margin-right: 0px;
	margin-bottom: -1px;
    padding: 0;
    display:none;
	/*background-color: #F3A214;*/
	border:1px solid #333;
}

.nav_items {
    margin: -1px 0px 0px 0px;
    list-style: none;
    text-align: center;
	
}

.nav_items_a_not_hover {
	font-family: Helvetica;
	text-decoration:none;
    border-bottom: 1px solid #333;
	border-top: 1px solid #333;
	margin: -1px 5px -1px 5px;
}

.nav_items_a_hover {
	margin: 0px;
	
}

a {
    padding:10px;
    display:block;
	
	font-family: Helvetica;
	text-decoration:none;
    border-bottom: 1px solid #333;
	border-top: 1px solid #333;
	margin: -1px 5px -1px 5px;
}

ul, li {
    /*somehow this fixes the alignment of the list elements*/
    margin:0;
    padding:0;
    list-style:none;
}

/*under header area*/

.content {
	width: 100%;
	margin: 0px auto;
}


.subHeader {
	height: 400px;
}
.subHeader2 {
	height: 400px;
	/*background-color: #F3A214;*/
}
#TestElement3 {
	width: 100%;
	  /*background-color: #ccc;*/
	  height: 50px;
	  overflow: auto;
	  position: relative;
}
#TestElement2 {
	width: 100%;
	height: 50px;
	/*background-color: #ccc;*/
	position: absolute;	/*this means it can be positioned anywhere on page*/
	background-attachment: local;
	background-position: center center;
	z-index: 10;

}
#TestElement {
	width: 100%;
	height: 50px;
	/*background-color: #ccc;*/
	position: fixed;
	bottom: 0px;
	z-index: 5;

}
/*css for 'scroll then fixed effect*/
.stuck {
	position: fixed;
	top: 0px;
	z-index: 50; 
	width: 100%;
	border-bottom: 1px solid #333;
	box-shadow: 0px -100px 20px 100px #000; 
}
.extend {
	/*the height here has to be the preceeding element plus the now fixed element height*/
    height: 150px;
}


/*css for footer area */
#footer {
	width: 100%;
	height: 400px;
	/*background-color: #2191B7; /*footer colour*/
	box-shadow: 0px 0px 20px #000;
}